<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Movies Reviewed</h1>
    <p>Hashtag hoodie mumblecore selfies. Authentic keffiyeh leggings Kickstarter, narwhal jean shorts XOXO Vice Austin cardigan. Organic drinking vinegar freegan pickled.</p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>
<% if user_signed_in? %>
  <% if @movies_recommend %>
  <h1>Movies Recommend For You</h1>
  <div class="row">
    <% @movies_recommend.each do |movie| %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <%= link_to (image_tag "https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg", class: 'thumbnail'), movie %>
        </div>
        <div>
          <strong><%= movie.title.truncate(30)%></strong>
        </div>
      </div>
    <% end %>
  </div>
  <% else %>
    <div class="jumbotron">
      <h1>Let Us Proposal Movies For You</h1>
    <p><%= link_to "Go To Recommender", recommenders_index_path, class: "btn btn-primary btn-lg" %></p>
  </div>
  <% end %>

<% end %>
<h1>Random Movies Recommend</h1>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag "https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg", class: 'thumbnail'), movie %>
      </div>
      <div>
        <strong><%= movie.title.truncate(30)%></strong>
      </div>
    </div>
  <% end %>
</div>
