<p id="notice"><%= notice %></p>

<p>
  <strong>Unknown:</strong>
  <%= @movie_genre.unknown %>
</p>

<p>
  <strong>Action:</strong>
  <%= @movie_genre.action %>
</p>

<p>
  <strong>Adventure:</strong>
  <%= @movie_genre.adventure %>
</p>

<p>
  <strong>Animation:</strong>
  <%= @movie_genre.animation %>
</p>

<p>
  <strong>Childrens:</strong>
  <%= @movie_genre.childrens %>
</p>

<p>
  <strong>Comedy:</strong>
  <%= @movie_genre.comedy %>
</p>

<p>
  <strong>Crime:</strong>
  <%= @movie_genre.crime %>
</p>

<p>
  <strong>Documentary:</strong>
  <%= @movie_genre.documentary %>
</p>

<p>
  <strong>Drama:</strong>
  <%= @movie_genre.drama %>
</p>

<p>
  <strong>Fantasy:</strong>
  <%= @movie_genre.fantasy %>
</p>

<p>
  <strong>Film noir:</strong>
  <%= @movie_genre.film_noir %>
</p>

<p>
  <strong>Horror:</strong>
  <%= @movie_genre.horror %>
</p>

<p>
  <strong>Musical:</strong>
  <%= @movie_genre.musical %>
</p>

<p>
  <strong>Mystery:</strong>
  <%= @movie_genre.mystery %>
</p>

<p>
  <strong>Romance:</strong>
  <%= @movie_genre.romance %>
</p>

<p>
  <strong>Sci fi:</strong>
  <%= @movie_genre.sci_fi %>
</p>

<p>
  <strong>Thriller:</strong>
  <%= @movie_genre.thriller %>
</p>

<p>
  <strong>War:</strong>
  <%= @movie_genre.war %>
</p>

<p>
  <strong>Western:</strong>
  <%= @movie_genre.western %>
</p>

<p>
  <strong>Movies:</strong>
  <%= @movie_genre.movies %>
</p>

<%= link_to 'Edit', edit_movie_genre_path(@movie_genre) %> |
<%= link_to 'Back', movie_genres_path %>
